[Desktop Entry]
Type=Application
Name=PATM
GenericName=Database Manager
Comment=Pipeline Automation Tool Manager
Exec=patm
Icon=org.patm.jam
Categories=Development;Database;
Terminal=false
StartupNotify=true
Keywords=database;sql;postgresql;mysql;mariadb;etl;automation;
